[*.*]
indent_style=space
insert_final_newline=true
trim_trailing_whitespace=true

[*.{gradle,java,kt,sh,xml,yaml,yml}]
indent_size=2
max_line_length=100

[*.{js,jsx,ts,tsx}]
indent_size=2
max_line_length=80

[*.py]
combine_as_imports=true
force_grid_wrap=0
include_trailing_comma=true
indent_size=4
max_line_length=100
multi_line_output=3
